body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

details,
details div:first-child {
  margin-top: 0.5rem;
}

#schema-content details:last-child,
details div:last-child {
  margin-bottom: 0 !important;
}

#schema-content div div {
  margin: 0.25rem;
  padding: 0.5rem;
  border: 1px dotted darkgray;
  border-radius: 0.25rem;
}

#close-schema-iframe {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid darkgray;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10001;
  font-size: 14px;
}

#schema-content {
  font-family: monospace;
  font-size: 14px;
  color: #333;
  margin-top: 40px;
}
