#schema-overlay {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  z-index: 10000;
  padding: 20px;
  overflow-y: auto;
  border-radius: 8px;
}

#close-schema-overlay {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
}

#schema-content {
  margin-top: 40px;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 14px;
  color: #333;
}
