body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

button {
  border: 1px solid darkgray;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10001;
  font-size: 14px;
}

details,
details div:first-child {
  margin-top: 0.5rem;
}

details[open] > :not(summary) {
  margin-left: 1rem;
}

details[open] {
  position: relative;
}

details[open]::before {
  content: '';
  position: absolute;
  top: 1em;
  left: 0.25rem;
  bottom: 0.25rem;
  width: 0;
  border-left: 1px dotted darkgrey;
}

#display-controls {
  margin-top: 1rem;
}

#schema-content details:last-child,
details div:last-child {
  margin-bottom: 0 !important;
}

#schema-content div div {
  margin: 0.25rem;
  padding: 0.5rem;
  border: 1px dotted darkgray;
  border-left: 0;
  border-radius: 0.25rem;
}

#schema-content {
  font-family: monospace;
  font-size: 14px;
  color: #333;
  margin-top: 40px;
}

::selection {
  background-color: black;
  color: white;
}

.attribute::before {
  content: '| ';
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.checkbox-container input[type='checkbox'] {
  margin-right: 0.3rem;
}

.element-text::before {
  content: '> ';
}

.hidden {
  display: none;
}
